body,
html {
  height: 100%;
  background-color: #f1f1f1;
}
.wrapper { height: 100%; }

.sidebar-wrapper {
  height: 100%;
  float: left;
}

.content-wrapper {
  float: left;
  height: 100%;
}

/** SIDEBAR **/
#sidebar {
  height: 100%;
  background-color: #e1e1e1;
}
#sidebar a { color: #ffffff; }
#sidebar a:hover,
#sidebar a:focus,
#sidebar a:active { color: #919191; }

.sidebar-min { width: 30px; }
.sidebar-min li a {
  padding-left: 0;
  padding-right: 0;
}
.sidebar-min li a i { padding: 0; }
.sidebar-min .sidebar-toggle-position { text-align: center; }

.sidebar-exp { width: 240px; }
.sidebar-exp a i { margin-right: 10px; }
.sidebar-exp .sidebar-toggle-position { text-align: right; }

@media(min-width: 769px) {
  #sidebar-min,
  #sidebar-toggle { display: none !important; }

  #sidebar-exp { display: block !important; }
}

@media (max-width: 768px) {
  #sidebar-exp { display: none; }
}